@font-face {
	font-family: horta;
	src: url(../Horta\ demo.otf);
}

html, body{
	margin: 0;
	padding: 0;
}
  
body{
	background: linear-gradient(to bottom, #6ab7f5, #fff);
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

#geobrowze1-menu{
	color: #28FF0D;
	font-family: horta;
	margin: auto;
}

#geobrowze2-menu{
	color: #FFBD59;
	font-family: horta;
	margin: auto;
}

#menu{
    position: relative;
    z-index: 999;
	text-align: justify;
	display: flex;
}

#terra-menu{
	width: 40px;
	height: 40px;
}
.botao-home{
	display: inline-flex;
}
.botao-home:hover{
	cursor: pointer;
}
.botao-home div{
	display: inline-flex;
	padding-left: 4px;
}
.botao-home div:hover{
	transform: scale(1.1);
}

a{
	text-decoration: none;
	color: black;
}

footer{
	position: absolute;
	bottom: 0;
	align-items: center;
	width: 100%;
}